*.aux
*.idx
*.lof
*.log
*.lol
*.lot
*.toc
*.tdo
*.out
*.synctex.gz
/05_Source/mbed_BusHandler/*.bak
/05_Source/mbed_BusHandler/*.TsSchleppBox

04_Busprotokoll/~$CAN-Messages.xlsx

*.glo

*.gls

*.glsdefs

*.ilg

*.ind

*.ist
