[Desktop Entry]
Encoding=UTF-8
Name=Link to LPC4088 QuickStart Board - Hardware Information | mbed
Type=Link
URL=http://mbed.org/users/embeddedartists/notebook/lpc4088-quickstart-board---hardware-information/
Icon=text-html
Name[en_US]=LPC4088_QuickStart_Board_Hardware_Information
